
* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding : 0;
    /* color:white */
}
.into-line {
    font-family: Poppins, sans-serif;
    color:white
}
body {
    margin:0;
    padding:0;
    font-family: Inter, sans-serif;
}

p {
    font-weight: 400;
}

/* Packages Drobdown */

.dropdowns  {
    transition: all 1s ease-in-out;

}

.dropdown-contents {
border-radius: 20px;
display: none;
position: absolute;
margin-top : "20px";
background-color: #f1f1f1;
min-width: 120px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
top : "10px"
}

.dropdown-contents a {
color:rgb(0, 52, 115) !important;
padding: 12px 16px;
text-decoration: none;
display: block;

}

.dropdown-contents a:hover {    color:rgb(90, 152, 228) !important  }

.dropdowns:hover .dropdown-contents { 
    display:block;
    transition-delay: 1s;
}
  
/* CRM dropdowns */
.crm-dropdowns {
    transition: all 1s ease-in-out;

}

.crm-dropdown-contents {
    border-radius: 20px;
    display: none;
    position: absolute;
    margin-top : "20px";
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:120px;
    top: 10px;
}
    
.crm-dropdown-contents a {
color:rgb(0, 52, 115) !important;
padding: 12px 16px;
text-decoration: none;
display: block;
}
    
.crm-dropdown-contents a:hover {    color:rgb(90, 152, 228) !important  }

.crm-dropdowns:hover .crm-dropdown-contents {display: block;}

/* PipeDrive Dropdowns */

.pipedrive-dropdown-contents {
    border-radius: 20px;
    display: none;
    position: absolute;
    margin-top : "20px";
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:120px;
    top: 10px;
}
    
.pipedrive-dropdown-contents a {
color:rgb(0, 52, 115) !important;
padding: 12px 16px;
text-decoration: none;
display: block;
}
    
.pipedrive-dropdown-contents a:hover {    color:rgb(90, 152, 228) !important  }

.pipedrive-dropdowns:hover .pipedrive-dropdown-contents {display: block;}


.main-container {
    margin: 0px 280px
}


.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
  }

  
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: #666;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.overlay {
    background: #003473;
    height : 500px;
    /* background-size : cover; */
    /* top : -500px */
}

.overlayImage {
    background-size: cover;
    position: relative;
    height : 100%;
    top: -900px;
    bottom:0;
    opacity: 1;
    /* top : 10px */
    z-index : 0
}

.navbar {
    z-index : 1
}

.footer {
    color: rgb(112, 127, 143) !important
}